body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: black;
    
}